
<section class="letters">
    <div class="letters_bg">
        <div class="container">
            <br/>
            <br/>
            <br/>
            <br/>
            <h2 id="letter_components" class="text-body" style="padding-top: 2rem;">АВТОРИ ПІДРУЧНИКІВ</h2>
            <div style="display: flex; padding-bottom: 8rem;">
                <div class="list_of_authors">
                    <div onclick="changeAuthor(1)" class="one_of_authors"><h5>Ганс Крістіан Андерсен</h5></div>
                    <div onclick="changeAuthor(2)" class="one_of_authors"><h5>Сухомлинський Василь</h5></div>
                    <div onclick="changeAuthor(3)" class="one_of_authors"><h5>Анна Зайцева</h5></div>
                    <div onclick="changeAuthor(4)" class="one_of_authors"><h5>Василь Симоненко</h5></div>
                    <div onclick="changeAuthor(5)" style="font-size: 25px; cursor: pointer;"><h5>Всеволод Нестайко</h5></div>
                </div>
                <div id="author_info" class="author_info">
                    <div class="p_athor_info"><p>Ганс Крістіан Андерсен народився в Оденсе — місті на данському острові Фюн. Його батько — Ганс Андерсен (1782—1816) був бідним шевцем, мати — Ганна Марі Андерсдаттер (1775—1833) — прачкою (вона походила з бідної сім'ї, у дитинстві мусила жебракувати, її поховали на кладовищі для бідних).</p></div>
                    <div><img height="400px" src="../images/home_images/andersen.jpg" alt=""></div>
                </div>
            </div>

            
            <!-- <div class="container">
                <h2 id="letter_components" class="text-body" style="padding-top: 2rem;"><%= i18n('Your letters')%></h2>
                <h2 class="text-body" style="padding-bottom: 2rem;"><%= i18n('about the native land')%></h2>
                <div class="letter">
                    <div class="letter_story" style="width: 450px;">
                        <p class="letter-subtitle"><%= i18n('Independence of the Motherland') %></p>
                        <h3 class="letter-title"><%= i18n('My native land, my family') %></h3>
                        <h3 class="letter-title"><%= i18n('My singer is Ukraine')%></h3> 
                        <div onclick=" readMore(1)" class="read_group">
                            <p class="letter-subtitle2 btn_more_text1" style="font-size: 12px;"><%= i18n('read more')%></p>
                            <img id="arrow1" class="letter_arrow" src="../images/home_images/arrow_right.png" alt="">
                        </div>
                    </div>
                    <div class="leter_img">
                        <img width="250px" src="../images/home_images/letter1.jpg" alt="">
                    </div>
                </div>
                <div class="letter">
                    <div class="leter_img">
                        <img width="250px" src="../images/home_images/letter2.jpg" alt="">
                    </div>
                    <div class="letter_story" style="width: 450px;">
                        <p class="letter-subtitle"><%= i18n('You are a part of your land')%></p>
                        <h3 class="letter-title"><%= i18n('My parents and native word')%></h3>
                        <h3 class="letter-title"><%= i18n('Love is first')%></h3>
                        <h3 class="letter-title"><%= i18n('On this holy, wonderful land')%></h3> 
                        <div onclick=" readMore(2)" class="read_group">
                            <p class="letter-subtitle2 btn_more_text2" style="font-size: 12px;"><%= i18n('read more')%></p>
                            <img id="arrow2" class="letter_arrow" src="../images/home_images/arrow_right.png" alt="">
                        </div>
                    </div>
                </div> 
                <div class="letter">
                    <div class="letter_story" style="width: 450px;">
                        <p class="letter-subtitle"><%= i18n('With love to the land')%></p>
                        <h3 class="letter-title"><%= i18n('In peace, harmony, love')%></h3>
                        <h3 class="letter-title"> <%= i18n('Prosper for many years')%></h3>
                        <h3 class="letter-title"> <%= i18n('My native and magical land')%> </h3> 
                        <div onclick="readMore(3)" class="read_group">
                            <p class="letter-subtitle2 btn_more_text3" style="font-size: 12px;"><%= i18n('read more')%></p>
                            <img id="arrow3" class="letter_arrow" src="../images/home_images/arrow_right.png" alt="">
                        </div>  
                    </div>
                    <div class="leter_img">
                        <img width="250px" src="../images/home_images/letter3.jpg" alt="">
                    </div>
                </div>
            </div>  -->
        </div>
    </div>
</section>



